<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.HomeMedecinServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindPatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.FindPatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.InfoMedecinServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>RdvMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.RdvMedecinServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>PresencePatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.PresencePatientServlet</servlet-class>
    </servlet>
     <servlet>
        <servlet-name>ReferMedecinServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ReferMedecinServlet</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>RdvServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.RdvServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeMedecinServlet</servlet-name>
        <url-pattern>/HomeMedecinServlet</url-pattern>
    </servlet-mapping>  
    <servlet-mapping>
        <servlet-name>FindPatientServlet</servlet-name>
        <url-pattern>/FindPatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoMedecinServlet</servlet-name>
        <url-pattern>/InfoMedecinServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RdvMedecinServlet</servlet-name>
        <url-pattern>/RdvMedecinServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>PresencePatientServlet</servlet-name>
        <url-pattern>/PresencePatientServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>ReferMedecinServlet</servlet-name>
        <url-pattern>/ReferMedecinServlet</url-pattern>
    </servlet-mapping>
     <servlet-mapping>
        <servlet-name>RdvServlet</servlet-name>
        <url-pattern>/RdvServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
</web-app>
