<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManagePatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ManagePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreatePatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.CreatePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.UpdatePatientServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RdvServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.TakeRdvServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadExportServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.DownloadExportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageCreneauServlet</servlet-name>
        <servlet-class>com.cours.allo.docteur.servlets.ManageCreneauServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagePatientServlet</servlet-name>
        <url-pattern>/ManagePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreatePatientServlet</servlet-name>
        <url-pattern>/CreatePatientServlet</url-pattern>
    </servlet-mapping>
    <!-- -->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>classpath*:applicationContext.xml</param-value>
    </context-param>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <servlet-mapping>
        <servlet-name>UpdatePatientServlet</servlet-name>
        <url-pattern>/UpdatePatientServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RdvServlet</servlet-name>
        <url-pattern>/RdvServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadExportServlet</servlet-name>
        <url-pattern>/DownloadExportServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageCreneauServlet</servlet-name>
        <url-pattern>/ManageCreneauServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>LoginServlet</welcome-file>
    </welcome-file-list>
</web-app>
